<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MoblieMakersChallenge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F350BA51C1F1C0A004C31A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F350BB91C1F1C0A004C31A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F350BC41C1F1C0A004C31A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
